@charset "utf-8";

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  vertical-align: baseline;
  border-style: solid;
  border-width: 0;

  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  font-kerning: normal;
}

/**/

html,
body {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  line-sizing: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

/* Interactive elements
   ========================================================================== */

/* Force button appearance for button-like elements */
button,
[role="button"],
html [type="button"],
html [type="reset"],
html [type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

/* Apply the pointer cursor for clickable elements */
a,
button,
label[for] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
}

/* Add disabled styles for relevant elements */
:is(:disabled, [aria-disabled="true"]),
:is(:disabled, [aria-disabled="true"])
  :is(a, button, label[for], [role="button"], html [type="button"], html [type="reset"], html [type="submit"]) {
  cursor: default;
  pointer-events: none;
}

/* Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block;
}

/* Add the correct display in all browsers. */
summary {
  display: list-item;
}
details summary::-webkit-details-marker {
  display: none;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  border-width: 0;
  padding: unset;
  background: unset;
  max-inline-size: unset;
  max-block-size: unset;
  overscroll-behavior: contain;
}

/* Remove outline for editable content. */
[contenteditable]:focus {
  outline: auto;
}

/* Text-level semantics
   ========================================================================== */

/* Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
  font-weight: bolder;
}

/* Add the correct font style */
i,
em {
  font-style: revert;
}

/* Revert the font styles in all browsers (opinionated). */
:where(code, kbd, samp, pre) {
  all: revert;
  font-family: monospace, monospace;
}

/* Add the correct font size in all browsers (opinionated). */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers (opinionated). */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*  Add the correct text decoration in Chrome, Edge, Opera, and Safari. */
abbr[title] {
  text-decoration: underline dotted;
}

/* Forms
   ========================================================================== */

/* Center form elements vertically */
button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/*
  Revert the 'white-space' property for textarea elements on Safari
  Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  white-space: revert;
  overflow: auto;
  resize: vertical;
}

/* Remove opacity in Safari */
select:disabled {
  opacity: inherit;
}

/* Remove the inner border and padding in Firefox. */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore the focus styles unset by the previous rule. */
:-moz-focusring {
  outline: none;
}

/* Remove the additional ':invalid' styles in Firefox. */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Fix appearance for Firefox */
[type="number"]:not(:hover) {
  -moz-appearance: textfield;
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::file-selector-button,
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Reset default text opacity of input placeholder */
::placeholder {
  color: unset;
  opacity: 1;
}

/* Embedded content
   ========================================================================== */

/* Prevent vertical alignment issues. */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-inline-size: 100%;
}

/* Force elements to scale proportionaly */
img,
svg,
video,
canvas {
  block-size: auto;
}

/* Remove overflow for SVG elements */
svg {
  overflow: hidden;
}

picture {
  display: contents;
}

audio {
  inline-size: 100%;
}

/* Add the correct display in iOS 4-7. */
audio:not([controls]) {
  display: none;
  block-size: 0;
}

source {
  display: none;
}

/* Tables
========================================================================== */

table {
  border-collapse: collapse;
}

/* Misc
   ========================================================================== */

/* Add the correct display in IE 10+. */
template {
  display: none;
}

/* Remove list item bullets */
:where(ul, ol) {
  list-style: none;
}

/* remove default dot (•) sign */
/* ::marker {
  content: none;
} */

/* fix the feature of 'hidden' attribute. display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
